target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
nbactions.xml
src/main/resources/cows/
src/main/resources/cowfile-list.csv
/nb-configuration.xml
/nbactions-release-profile.xml