[submodule "cowsay"]
	path = cowsay
	url = https://github.com/schacon/cowsay.git

[submodule "src/test/resources/cowfiles"]
	path = src/test/resources/cowfiles
	url = https://github.com/ricksbrown/cowfiles.git
