[submodule "cowsay"]
	path = cowsay-perl
	url = https://github.com/schacon/cowsay.git

[submodule "src/test/resources/cowfiles"]
	path = cowjar-extra/src/main/resources/cows
	url = https://github.com/ricksbrown/cowfiles.git
[submodule "cowjar-js/cowsay"]
	path = cowjar-js/cowsay
	url = https://github.com/ricksbrown/cowsay-1.git
